<!DOCTYPE html>
<html>
<head>
	<title>Cake</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "style" %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= render 'partials/header' %>
<div id ="left_column">
<ul>
<img src="http://2.bp.blogspot.com/-1wEq_QRNd0A/TzDE1qyfqSI/AAAAAAAAAS8/XZxPqe-xr5w/s1600/jpg-0324.JPG" width=350px>

<li> <%= link_to "Add a CupCake !", customer_cupcakes_path %></li>



</ul>
</div>
<div id= "right_column">
<%= yield %>
</div>


</body>
<%= render 'partials/footer' %>
<%=	render 'layouts/cupcake_pics' %>
</html>
